image: ubuntu:bionic

pipelines:
  default:
    - step:
        script:
          # Install dependencies
          - apt-get update
          - apt-get -y install cmake pkg-config cppcheck git mercurial build-essential curl libprotobuf-dev protobuf-compiler libprotoc-dev libzmq3-dev uuid-dev doxygen ruby-ronn libsqlite3-dev g++-8
          - update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 800 --slave /usr/bin/g++ g++ /usr/bin/g++-8 --slave /usr/bin/gcov gcov /usr/bin/gcov-8
          - gcc -v
          - g++ -v
          - gcov -v
          # lcov
          - git clone https://github.com/linux-test-project/lcov.git
          - cd lcov
          - make install
          - cd ..
          # Ignition cmake
          - hg clone http://bitbucket.org/ignitionrobotics/ign-cmake -b gz11 
          - cd ign-cmake
          - mkdir build
          - cd build
          - cmake .. -DCMAKE_INSTALL_PREFIX=/usr
          - make -j4 install
          - cd ../..
          # Ignition tools
          - hg clone http://bitbucket.org/ignitionrobotics/ign-tools
          - cd ign-tools
          - mkdir build
          - cd build
          - cmake .. -DCMAKE_INSTALL_PREFIX=/usr
          - make -j4 install
          - cd ../..
          # Ignition math
          - hg clone http://bitbucket.org/ignitionrobotics/ign-math -b gz11
          - cd ign-math
          - mkdir build
          - cd build
          - cmake .. -DCMAKE_INSTALL_PREFIX=/usr
          - make -j4 install
          - cd ../..
          # Ignition msgs
          - hg clone http://bitbucket.org/ignitionrobotics/ign-msgs -b gz11
          - cd ign-msgs
          - mkdir build
          - cd build
          - cmake .. -DCMAKE_INSTALL_PREFIX=/usr
          - make -j4 install
          - cd ../..
          # Ignition Transport
          - mkdir build
          - cd build
          - cmake .. -DCMAKE_BUILD_TYPE=coverage
          - make -j4
          - make test ARGS="-VV"
          - make coverage
          # Use a special version of codecov for handling gcc8 output.
          - bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/4678d212cce2078bbaaf5027af0c0dafaad6a095/codecov) -X gcovout -X gcov 2>/dev/null
          - make doc
          # - make codecheck
          - make install
          - cd ..
          # Build examples
          - cd example
          - mkdir build && cd build
          - cmake ..
          - make -j4
