image: ubuntu:xenial

pipelines:
  default:
    - step:
        script:
          # Install dependencies
          - echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-stable xenial main" > /etc/apt/sources.list.d/gazebo-stable.list
          - echo "deb http://packages.osrfoundation.org/gazebo/ubuntu-prerelease xenial main" > /etc/apt/sources.list.d/gazebo-prerelease.list
          - apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys D2486D2DD83DB69272AFE98867170598AF249743
          - apt-get update
          - apt-get -y install cmake pkg-config cppcheck
            libprotobuf-dev protobuf-compiler libprotoc-dev libzmq3-dev uuid-dev doxygen ruby-ronn
            libignition-msgs-dev
          # Ignition Transport
          - mkdir build
          - cd build
          - cmake ..
          - make -j4
          - make test ARGS="-VV"
          - make doc
          - cd ..
          # Build examples
          - cd example
          - mkdir build && cd build
          - cmake ..
          - make -j4
          - cd ../..
          # Static checker
          - sh tools/code_check.sh
